/TrainYourOwnYOLO
/ocrTestImages
/labelImg
/TextRects.png
/ocrTest.png
/lineDetection.png
/kmeansOut.png
/image2.png
/image.png
/vott-2.2.0-win32.exe
/groceriesDatasetRaw
/groceriesDatasetPng
/416
/__pycache__
/oriented/*
/imageDump/*
/BigFungusReceipts